.container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 25px auto;
  max-width: 500px;
  border: 1px solid #ebe8e8;
  border-radius: 12px;
  background: #f9f4f7;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  padding: 20px;
}

.title {
  font-family: Arial, sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  color: rgb(105, 98, 98);
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #bbb;
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

li span {
  flex: 1;
  text-align: left;
}

.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
  font-weight: bold;
  font-size: 1rem;
  display: none;
}

li:hover .delete-btn {
  display: inline-block;
}

.note {
  font-size: 1rem;
  color: #555;
  margin-top: 15px;
}


.clear-btn {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #e74c3c;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.clear-btn:hover {
  background: #c0392b;
}

.empty {
  font-size: 1rem;
  color: #999;
  font-style: italic;
  margin-top: 20px;
}


.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f9f4f7;
}

.user-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  padding: 40px 50px;
  text-align: center;
  width: 420px;
  max-width: 90%;
}

.user-title {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: rgb(105, 98, 98);
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-input {
  padding: 12px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  transition: all 0.3s ease;
}

.user-input:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 6px rgba(37, 37, 37, 0.3);
}

.user-button {
  background-color: #361469;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.user-button:hover {
  background-color: #a28fff;
  transform: scale(1.03);
}

