.container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 25px auto;
  max-width: 500px;
  border: 1px solid #ebe8e8;
  border-radius: 12px;
  background: #f9f4f7;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  padding: 20px;
}

.title {
  font-family: Arial, sans-serif;
  font-size: 4rem;
  margin-bottom: 20px;
  color: rgb(105, 98, 98);
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #bbb;
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

li span {
  flex: 1;
  text-align: left;
}

li button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  color: red;
  font: bold;
}

li:hover button {
  display: inline-block;
}

.note {
  font-size: 1rem;
  color: #555;
}

.empty {
  font-size: 1rem;
  color: #999;
  font-style: italic;
}

